@import 'settings';

@import '../../node_modules/concise.css/concise';
@import '../../node_modules/concise-utils/concise-utils';

//
// Notes Board
// ==================================================

:root {
  line-height: 1.45;
}

article {
  border-top: 3px solid getColor(base, lines);
  margin-bottom: 2lh;
}

body > header {
  padding: 2lh 0;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  letter-spacing: $letter-spacing * 2;

  small {
    display: block;
    font-size: 1rem;
    text-transform: none;
    letter-spacing: 0;
    font-family: $font-primary;
    font-weight: normal;
    margin-top: 0.5lh;
  }
}

h2 {
  margin-top: 0.2lh;
  text-transform: uppercase;
  font-size: 95%;
  letter-spacing: $letter-spacing;
}

button {
  font-size: 80%;
}

nav li {
  display: inline-block;

  &:not(:last-of-type) {
    margin-right: 1em;
  }
}

.note-form {

  input[type='text'],
  textarea {
    border: 0;
    border-bottom: 1px solid getColor(base, lines);
    padding: 0;
    font-size: 80%;
    font-family: $font-secondary;
    transition: none;

    &:focus {
      outline: none;
      border-bottom-color: getColor(blue, base);
      border-bottom-width: 3px;
    }
  }

  textarea {
    min-height: 5lh;
  }
}

/**************************\
  Basic Modal Styles
\**************************/

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

.modal__header .modal__close:before { content: "\2715"; }
.modal__header button { color: black ;}

.modal__content {
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding: .5rem 1rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}